html {
    border: solid black;
    border-width: 2px;
    border-color: #ADF4E0;
}

h1, h3, p {
    text-align:center;
}

h1 {
    background-color:#ADF4E0;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
}


#lessonblock {
    background-color:aliceblue;
    border: solid #80E6C9;
    border-width: 7px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: flex-start;
    margin: 10px;
    gap: 20px;
    flex-wrap: wrap;
}

#lessoncontainer {
    border: solid black;
    width: 500px;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr;
    gap: 10px;
    
}

#lessontitle {
    border: solid gray;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#lessonmenu {
    border: solid gray;
    width: 200px;
}

@media (max-width:500px) and (min-width: 250px) {
    #lessoncontainer {
        height: 360px;
        width: 350px;
    }
}

a {
    background-color: #ADF4E0;
    text-align:center;
    font-weight:bold;
    border-color:black;
    border-style:solid;
    color:black;
    margin-left: 30px;
    margin-top:20px;
    margin-right: 45px;
    border-radius: 10px;
    border-width: 2px;
    display:inline-block;
    padding: 7px;
}